extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5 

        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo in, eius est, reiciendis sed necessitatibus debitis similique, nulla eos voluptatibus deserunt voluptatum natus excepturi adipisci fugit praesentium obcaecati suscipit sapiente.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi dolorem dolorum cum ipsam error. Quae quibusdam voluptatum est ipsum, sit labore dolore, earum aspernatur quam nisi molestiae ea inventore nam.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen Nosotros" class="img-fluid")

        

        include ./layout/bloque_viajes


    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de marzo del 2024 - 28 de marzo del 2024 
                        p.precio $2,500.00 USD


    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales