extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="Imagen sobre Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Non deleniti animi, cum facere accusantium dicta error harum sapiente eveniet veritatis, recusandae aut porro reprehenderit? Atque in laudantium vel nemo doloremque.

                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat architecto iusto quam sit delectus, nemo odit ex voluptates ab doloribus temporibus maxime hic iure fugit vero expedita sed distinctio et.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati necessitatibus amet cumque fugiat sint perferendis quisquam itaque illum eius et. Cupiditate quaerat nesciunt at eos reprehenderit ipsa neque quo eum!

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="Imagen de seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.

                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="Imagen de Destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.

                .col-md-4
                    img(src="/img/icono_precios.svg", alt="Imagen de Precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.